.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: white;
  position: sticky;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__logo {
  cursor: pointer;
  height: 150px;
  object-fit: contain;
  object-fit: contain;
  margin-left: 20px;
}

.header__right {
  display: flex;
  align-items: center;
}
.header__right > h3 {
  font-weight: 700;
  padding: 5px;
  margin-right: 30px;
  cursor: pointer;
}

.header__right > h3:hover {
  color: #2e81f4;
  background-color: lightgray;
  border-radius: 10px;
}
.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 15px;
}

.header__input > input {
  flex: 1;
  border: none;
  outline: 0;
}
.header__inputButton {
  width: 50px !important;
  background-color: #fafafa;
  color: gray;
}
